:root {
    --primary-color: #4CAF50;
    --secondary-color: #45a049;
    --background-color: #e8f5e9;
    --text-color: #333;
    --header-text-color: #ffffff;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}